@import '../../modules/00_settings/style',
		'../js/customizer/css/medium-editor.min',
		'../js/customizer/css/themes/beagle.min';

*,
*:before,
*:after {
	box-sizing: border-box;
}

.noscroll {
	overflow: hidden !important;
	position:static;
}

%cck-btn {
	color: #202224;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	transition: 0.25s;
	cursor: pointer;
	&:hover {
		color: #696f6f;
		border-bottom: 1px solid rgba(204,204,204,0);
	}
}

.cck-toggle {
	display: inline-block;
	position: fixed;
	top: 20px;
	left: 210px;
	width: 50px;
	cursor: pointer;
	height: 40px;
	background: rgba(32, 34, 36, 0.1) url(../images/customizer/icons/icons.svg) no-repeat top;
	background-size: 40px;
	transition: left 0.5s, background-position 0.5s, background-color 0.25s;
	z-index: 20;
	&:hover {
		background-color: rgba(32, 34, 36, 1);
	}
}

#cck-blocks > li,
.ui-sortable-helper {
	list-style-type: none;
}

#cck-menu {
	user-select: none;
}

#cck-side-menu {
	position: fixed;
	top: 0;
	left: 190px;
	width: 190px;
	height: 100%;
	z-index: 100;
	margin-left: -190px;
	font-family: $header-font;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: #202224 url(../images/customizer/icons/close.svg) no-repeat -150px / contain;
	transition: background 0.5s cubic-bezier(.39,1.31,.28,1), left 0.5s;

	ul {
		margin-top: 18px;
		list-style-type: none;
		li {
			color: #8c9392;
			padding: 9px 28px;
			cursor: pointer;
			transition: 0.25s;
			.cck-mod-name {
				display: none;
			}
			&.selected {
				border-color: #2f3133;
				color: #fff;
			}
		}
	}

	&.active {
		background-position: 0;
		li {
			transition: 0.25s;
			margin-left: -10px;
		}
		.cck-about-menu {
			transition: 0.25s;
		}
		> * {
			opacity: 0.1;
		}
	}
	> * {

		transition: 0.25s;
	}

	&.hovered {
		background-color: #f15656;
		background-size: contain;
		> * {
			opacity: 0;
		}
	}

	&.disabled {
		li {

			transition: 0.25s;
		}
		> ul {
			li {
				cursor: no-drop;
			}
			&:after {
				content: "You've reached the limit. Remove any block to add new.";
				position: absolute;
				cursor: no-drop;
				background: #f15656;
				display: inline-block;
				padding: 13px;
				line-height: 20px;
				font-size: 16px;

				border-radius: 1px;
				color: #fff;
				left: 17px;
				width: 155px;

				transition: 0.25s;
				top: 18px;
				opacity: 0;
				transform: translateY(20px) scale(0.95);
			}
			&:hover li {
				opacity: 0.3;
			}
		}
		ul:hover:after {
			opacity: 1;
			cursor: no-drop;
			transform: translateY(0px) scale(1);
		}
	}

	&:not(.disabled) {
		border-color: #2f3133;
		color: #fff;
	}

	.about.unseen {
		color: #fff;
		position: relative;
		&:after {
			position: absolute;
			top: -0.3rem;
			right: -0.5rem;
			width: 23px;
			content: '!';
			line-height: 3px;
			border-radius: 16px;
			text-align: center;
			text-indent: -1px;
			font-size: 14px;
			font-weight: 600;
			padding: 10px;
			color: #fff;
			background: #45368d;
		}
	}
}


#cck-sub-menu {
	background: #202224;
	border-left: 2px solid #27292b;
	padding: 29px;
	position: fixed;
	width: 330px;
	left: 190px;
	top: 0;
	overflow-y: scroll;
	height: 100%;
	z-index: 50;
	transition: left 0.5s;
	&.cck-hidden {
		left: -140px;
	}
	strong {
		position: fixed;
		top: 0;
		z-index: 100;
		width: 328px;
		margin-bottom: 30px;
		margin-left: -29px;
		padding: 14px 30px;
		display: block;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		letter-spacing: 2px;
		text-transform: uppercase;
		background: rgba(34, 34, 34, 0.9);
		box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
	}
	ul {
		display: none;
		width: auto;
		&.cck-visible {
			display: block;
		}
	}
	li {
		margin-bottom: 30px;
		cursor: move;
		display: block;
		background: #000;
		line-height: 0;
		img {
			display: block;
			max-width: 100%;
			transition: opacity 0.25s;
		}
		span {
			position: relative;
			text-transform: uppercase;
			padding: 3px 5px 2px;
			color: #fff;
			z-index: 20;
			transition: 0.25s;
			line-height: 0;
			font-size: 12px;
			top: 16px;
			left: 0;
			opacity: 0;
		}
		&:hover {
			span {
				opacity: 1;
				left: 6px;
			}
			img {
				opacity: 0.675;
			}
		}
	}
}

.ui-draggable-dragging,
.ui-sortable-helper {
	.cck-mod-thumb {
		z-index: 500;
		cursor: move;
		display: block;
		box-shadow: 0 30px 30px rgba(0,0,0,0.5);
	}
	.cck-mod-name {
		display: none;
	}
}

.cck-about-menu {
	font-size: 1.2rem;
	transition: left 0.25s;
	margin-top: 2rem;
	border-top: 1px solid #2f3133;
	a {
		color: #8c9392;
		text-decoration: none;
		opacity: 0.8;
		border-bottom: none;
		display: block;
		transition: 0.25s;
		&:hover {
			border-bottom: none;
			color: #fff;
			opacity: 1;
		}
	}
	li {
		padding: 9px 0;
	}
}

.preview {
	// swap body bg to dark
	background-color: $primary-color !important;
	.cck-toggle {
		left: 20px;
		background-position: bottom;
		background-color: rgba(32, 34, 36, 0.2);
		z-index: 3000;
		&:hover {
			background-color: rgba(32, 34, 36, 1);
		}
	}
	.cck-container {
		// max-width: 1700px; // size of max blocks
		position: relative;
		max-width: 1920px; // site max width
		margin: 0 auto;
		z-index: 0;
		padding: 0;
		overflow-x: hidden;
	}
	#cck-side-menu {
		left: 0;
	}
	#cck-sub-menu {
		left: -330px;
	}
	#cck-blocks-holder {
		padding-left: 0;
	}
	#cck-blocks {
		> li:hover {
			background-color: transparent;
		}
	}
	.cck-footer {
		display: none;
	}
	.cck-clear {
		display: none;
	}
}

.cck-container {
	position: relative;
	left: 0;
	margin: 5rem auto;
	max-width: 900px;
	transition: 0.5s;
	padding: 0;
	font-size: 2rem;
	overflow: visible;
	background-color: #fff;
}

@media screen and(max-height: 510px) {
	.cck-about-menu {
		display: none;
	}
}

.cck-hide-ui {
	.cck-footer {
		opacity: 0;
		height: 0;
		padding-top: 0;
	}
	.cck-clear {
		opacity: 0;
		visibility: hidden;
	}
}

#cck-blocks-holder {
	clear: both;
	padding-left: 190px;
	transition: padding-left 0.5s;
	.cck-browser {
		// border-radius: 2px 2px 0 0;
		// background: url(../images/customizer/icons/browser.svg) no-repeat top left;
		// padding-top: 36px;
		margin: 0 auto;
	}
}

#cck-blocks {
	transition: min-height 0.75s cubic-bezier(.39,1.31,.28,1);
	border-radius: 0 0 2px 2px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	min-height: 0;
	&.empty {
		background: #fff url(../images/customizer/icons/label.svg) no-repeat center center;
		min-height: 250px;
		cursor: w-resize;
	}
	&.ui-sortable-disabled {
		> li {
			cursor: auto;
		}
	}
	> li {
		text-align: left;
		cursor: move;
		// line-height: 0;
		font-size: 0;
		width: 100%;
		background: rgba(34, 34, 34, 0);
		transition: opacity 0.25s, box-shadow 0.25s, height 0.25s, background 0.25s;
		.cck-mod-thumb {
			width: 100%;
			transition: height 0.25s,opacity 0.25s;
		}
		.cck-mod-name {
			position: absolute;
			text-transform: uppercase;
			padding: 3px 5px 2px;
			color: #fff;
			z-index: 20;
			transition: 0.25s;
			line-height: 0;
			font-size: 13px;
			margin-top: 25px;
			margin-left: 6px;
			opacity: 0;
		}
		&.placeholder {
			border: 10px solid rgba(225, 224, 224, 0.65);
			background: #f7f6f5 url(../images/customizer/icons/navigate.svg) no-repeat center;
			height: 40px;
			transition: 0;
		}
		&.ui-sortable-helper {
			width: 50px;
			&:hover img {
				box-shadow: 0 10px 30px rgba(0,0,0,0.5);
				opacity: 1;
			}
		}
		&:hover {
			background: rgba(34, 34, 34, 1);
			.cck-mod-thumb {
				z-index: 10;
				opacity: 0.75;
				position: relative;
			}
			.cck-mod-name {
				opacity: 1;
				margin-left: 16px;
			}
		}
	}
}

.cck-footer {
	position: relative;
	overflow: hidden;
	text-align: center;
	margin: 4rem 0;
	transition: 0.5s;
	opacity: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(50px) scale(0.95);
	}
	100% {
		transform: translateY(0%) scale(1);
	}
}

.cck-clear {
	position: fixed;
	top: 7.5rem;
	left: 21rem;
	width: 5rem;
	height: 4rem;
	cursor: pointer;
	display: block;
	opacity: 0.5;
	transition: 0.25s;
	background: #fff url(../images/customizer/icons/close-black.svg) no-repeat center;
	&:hover {
		opacity: 1 !important;
	}
}

#shareurl {
	&::selection {
		background: #fdfac1;
		color: #858662;
	}
	&.notgenerated {
		color: #fff;
	}
}

.cck-input {
	width: 80%;
	text-align: left;
	padding: 0 1.5rem;
	font-size: 1.5rem;
	line-height: 4.5rem;
}


////////////////////////////////////////
// Medium Editable
////////////////////////////////////////
[editable] {
	outline: none;
	&:hover {
		cursor: pointer;
		color: #191919 !important;
		background-color: antiquewhite;
		> * {
			color: $primary-color;
		}
	}
}

.cck-placeholder,
.medium-editor-placeholder:after,
.medium-editor-toolbar-form a,
.cck-image-swap.is-img:after {
	content: attr(data-placeholder);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	line-height: 2;
	font-size: 1.1rem;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0.2rem 1rem 0;
	text-transform: uppercase;
	color: #fff;
	background: black;
	opacity: 0;
	visibility: hidden;
	// avoid 'all'!
	@include transition(all);
}

.cck-image-swap.is-img:after {
	content: 'Click to edit';
}

// for videos
.cck-placeholder {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
video[editable] {
	&:hover {
		& + .cck-placeholder {
			opacity: 1;
			visibility: visible;
		}
	}
}

.cck-image-swap {
	.cck-input-file {
		cursor: pointer;
	}
	&:hover {
		&.is-img:after {
			opacity: 1;
			visibility: visible;
		}
		.medium-editor-toolbar-form a,
		.medium-editor-placeholder:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

form.cck-image-swap {

	// with the .valign and .block z-indexing, pos and height updates in consideration
	position: relative;
	z-index: 1;
	height: 100%;
	//

	overflow: hidden; // might fuck shit up - test first
	// turns out the above fucks with .bg-abs figures like the ones inslide shop-this-look links

	input[type=file] {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		appearance: none;
		height: auto;
		font-size: 0;
		border: none;
		background: none;
		&::-webkit-file-upload-button {
			margin: 0;
			padding: 0;
			width: 0;
			font-size: 0;
			border: none;
			background: none;
			appearance: none;
		}
	}
}


// Buttons
.btn--success span,
.btn--error span {
	color: white !important;
}
.btn--success {
	border-color: $green !important;
	background-color: $green;
	&:hover {
		border-color: darken($green, 5) !important;
		background-color: darken($green, 5) !important;
	}
}
.btn--error {
	border-color: $accent-color;
	background-color: $accent-color;
	&:hover {
		border-color: darken($accent-color, 5) !important;
		background-color: darken($accent-color, 5) !important;
	}
}


// Use Case Overrides...lame
form.cck-image-swap {
	// weird wrapper for some figures based on who knows what
	.content-scaler &,
	.image-scaler &,
	// pdp
	.full-bleed &,
	.tech-specs & {
		top: 0;
		width: 100%;
		position: absolute;
	}

	// pdp - detail img stacked
	// pdp - split 50
	.figure-wrapper &,
	.feature-lifestyle &,
	.find-chrome-hub & {
		position: relative;
	}
}

.block .block-inner > a .cck-image-swap,
.block .block-inner > .cck-image-swap {
	height: 100%;
}

.custom-callout--image {
	.cck-image-swap {
		overflow: hidden;
	}
}



.editable-toggle {
	background: red;
	width: 2rem;
	height: 2rem;
}
