@import
	'prism',
	'tooltips',
	'../../modules/00_settings/style',
	'colors';

$header-height: 75px;

body {
	transition: $transition;
	opacity: 0;
	&.loaded {
		opacity: 1;
	}
}

html,
body {
	height: 100%;
	&.sidebar-open {
		overflow-x: hidden;
		overflow-y: visible;
	}
}

a {
	color: $dark-grey;
	text-decoration: none;
	transition: $transition;
	&:hover {
		color: $black;
	}
}

hr {
	margin: 3rem 0;
	border: none;
	height: 1px;
	width: 100%;
	background-color: darken($light-grey,10);
}

#module-wrapper {
	background-color: white;
}

.module {
	max-width: $xxxlarge;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	padding: 3rem 1rem;
	@include breakpoint($small) {
		padding: 5rem;
	}
	@include breakpoint($large) {
		padding: 5rem 15rem;
		padding: 5rem 5rem;
	}
	&[data-scroll-target="typography"] {
		p {
			margin: 3rem 0;
		}
		.titles {
			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 2.5rem 0;
				line-height: $header-line-height;
			}
		}
		[contenteditable="true"] {
			position: relative;
			transition: $transition;
			&:after {
				width: 16px;
				height: 16px;
				display: inline-block;
				content: ' ';
			}
			&:hover {
				background: rgb(251, 251, 226);
				&:after {
					font-size: 12px;
					content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAiUlEQVQ4y2NgGFKgs7OTl2zNEyZMmAgEDZMmTeogWTNQUwVQcyeIDaLnz5/PQYrmssmTJ1sC6QQg7gXiFlI0l4I0Q9lOQNuLiNYMVFwCxFZQtiPQgEKSNAM1WMM0k2wzTDPQ+Q5AdjEpfs6CRRPJmqEGvAC6IAlId4NcQk58vwDih0DbMxhGDgAAx6ZVXMd4yEMAAAAASUVORK5CYII=');
				}
			}
			&:focus {
				outline: none;
				background: rgb(251, 251, 226);
				&:after {
					width: 0;
					content: '';
				}
			}
		}
	}
}

.styleguide-header {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	line-height: $header-height;
	background: white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	position: fixed;
	padding: 0 1rem;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	@include breakpoint($small) {
		padding: 0 2rem;
	}
	.toggle-sidebar {
		float: left;
		cursor: pointer;
		width: 24px;
		margin-right: 1rem;
		background: url(../images/hamburger.svg) no-repeat center;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		.sidebar-open & {
			background: url(../images/close.svg) no-repeat center;
		}
	}
	nav {
		display: none;
		@include breakpoint($small) {
			float: right;
			display: inline;
		}
		li {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1rem;
			a {
				color: $dark-grey;
				&:before {
					content: '';
					opacity: 0.2;
					transition: $transition;
					display: inline-block;
					vertical-align: top;
					height: $header-height;
					background: center no-repeat;
					cursor: pointer;
				}
				&:hover:before,
				&.active:before {
					opacity: 1;
				}
				&.breakpoint-toggle-tiny:before {
					width: 17px;
					background-image: url('../images/icon_small_up.svg');
				}
				&.breakpoint-toggle-small:before {
					width: 28px;
					background-image: url('../images/icon_medium_up.svg');
				}
				&.breakpoint-toggle-medium:before {
					width: 55px;
					background-image: url('../images/icon_large_up.svg');
				}
				&.breakpoint-toggle-large:before {
					width: 52px;
					background-image: url('../images/icon_full.svg');
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	height: calc(100% - #{$header-height});
	top: $header-height;
	left: 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: none;
	width: $sidebar-width;
	transform: translateX(-$sidebar-width);
	transition: $transition;

	overflow-y: scroll;
	overflow-scrolling: touch;

	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

	.sidebar-open & {
		transform: translateX(0);
	}
	.logo {
		width: 100%;
		display: block;
	}
	nav {
		padding: 2rem 0;
		a {
			padding: 1rem;
			@include breakpoint($small) {
				padding: 1rem 2rem;
			}
			display: block;
			border: none;
			&.active {
				background: #f9f9f9;
			}
			&:hover {
				background: #f5f5f5;
			}
		}
	}
}

.styleguide-iframe-wrapper {
	overflow: hidden;
	height: 100%;
	width: 100%;
	max-width: 100%;
	position: relative;
	left: 0;
	padding: 0;
	margin: 0;
	max-width: initial;
	transition: $transition;
	background-color: #eee;
	position: relative;

	.sidebar-open & {
		transform: translateX($sidebar-width);
		@include breakpoint($small) {
			width: calc(100% - 240px);
		}
	}

	iframe {
		border: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: hidden;
		height: calc(100% - #{$header-height});
		width: 100%;
		max-width: 100%;
		position: absolute;
		top: $header-height;
		left: 0;
		right: 0;
		bottom: 0;
		transition: $transition;
		margin: 0 auto;

		&[data-breakpoint-size='tiny'] {
			max-width: $tiny;
		}
		&[data-breakpoint-size='small'] {
			max-width: $small;
		}
		&[data-breakpoint-size='medium'] {
			max-width: $large;
		}
		&[data-breakpoint-size='large'] {
			// max-width: $large;
			max-width: 100%;
		}

	}
}

.styleguide-module__title {
	font-family: $header-font;
	font-weight: 700;
	font-size: 3rem;
	margin-bottom: 3rem;

	// custom
	// background: white;
	// padding: 5rem;
	// display: inline-block;
}

.styleguide-module__title--light {
	color: #bbb;
	text-transform: none;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	margin: 0 0 1rem;
	display: block;
	clear: both;
}

.styleguide-module__title--small {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 25px;
}

.styleguide-module__toggle-code {
	float: right;
	text-indent: -9999999px;
	background: url('../images/icon_code.svg') right center no-repeat;
	width: 27px;
	height: 18px;
	opacity: .5;
	position: relative;
	margin-bottom: 25px;
	& + * {
		clear: both;
	}
}

// space out when multiple toggles in module
pre + .styleguide-module__toggle-code {
	margin-top: 2rem;
}

.styleguide-list--buttons {
	li {
		margin-bottom: 1rem;
	}
}

.styleguide-footer {
	clear: both;
	overflow: hidden;
	text-align: center;
	background: $primary-color;
	color: white;
	padding: 2rem 0;
	order: 2;
	p {
		padding: 0;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}
}
