@import
	'prism',
	'tooltips',
	'../../modules/00_settings/style',
	'colors';

$header-height: 75px;
$footer-height: 4rem;

body {
	transition: $transition;
	opacity: 0;
	&.loaded {
		background-color: #fff;
		opacity: 1;
	}
}

html,
body {
	height: 100%;
	&.sidebar-open {
		overflow-x: hidden;
		overflow-y: visible;
	}
}

a {
	color: $dark-grey;
	text-decoration: none;
	transition: $transition;
	&:hover {
		color: $black;
	}
}

hr {
	margin: 3rem 0;
	border: none;
	height: 1px;
	width: 100%;
	background-color: darken($light-grey,10);
}

#module-wrapper {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	max-width: $screen-xxlarge;
	@include breakpoint($screen-small) {
		padding: 0 2rem;
	}
}

.module {
	max-width: $screen-xxlarge;
	margin: 0 auto;
	padding: 3rem 0;
	border-bottom: 1px solid #ddd;

	&[data-scroll-target="typography"] {
		p {
			margin: 3rem 0;
		}
		.titles {
			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 5rem 0;
				line-height: $header-line-height;
			}
		}
		[contenteditable="true"] {
			position: relative;
			transition: $transition;
			&:after {
				width: 16px;
				height: 16px;
				display: inline-block;
				content: ' ';
			}
			&:hover {
				background: rgb(251, 251, 226);
				&:after {
					font-size: 12px;
					content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAiUlEQVQ4y2NgGFKgs7OTl2zNEyZMmAgEDZMmTeogWTNQUwVQcyeIDaLnz5/PQYrmssmTJ1sC6QQg7gXiFlI0l4I0Q9lOQNuLiNYMVFwCxFZQtiPQgEKSNAM1WMM0k2wzTDPQ+Q5AdjEpfs6CRRPJmqEGvAC6IAlId4NcQk58vwDih0DbMxhGDgAAx6ZVXMd4yEMAAAAASUVORK5CYII=');
				}
			}
			&:focus {
				outline: none;
				background: rgb(251, 251, 226);
				&:after {
					width: 0;
					content: '';
				}
			}
		}
	}
}

.styleguide-header {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	line-height: $header-height;
	background: white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	position: fixed;
	padding: 0 1rem;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	@include breakpoint($screen-small) {
		padding: 0 2rem;
	}
	.toggle-sidebar {
		float: left;
		cursor: pointer;
		width: 24px;
		margin-right: 1rem;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: url(../images/vectors/styleguide/hamburger.svg) no-repeat center;
		.sidebar-open & {
			background: url(../images/vectors/styleguide/close.svg) no-repeat center;
		}
	}
	nav {
		display: none;
		@include breakpoint($screen-small) {
			float: right;
			display: inline;
		}
		li {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1rem;
			a {
				color: $dark-grey;
				&:before {
					content: '';
					opacity: 0.2;
					transition: $transition;
					display: inline-block;
					vertical-align: top;
					height: $header-height;
					background: center no-repeat;
					cursor: pointer;
				}
				&:hover:before,
				&.active:before {
					opacity: 1;
				}
				&.breakpoint-toggle-tiny:before {
					width: 17px;
					background-image: url('../images/vectors/styleguide/icon-small-up.svg');
				}
				&.breakpoint-toggle-small:before {
					width: 28px;
					background-image: url('../images/vectors/styleguide/icon-medium-up.svg');
				}
				&.breakpoint-toggle-medium:before {
					width: 55px;
					background-image: url('../images/vectors/styleguide/icon-large-up.svg');
				}
				&.breakpoint-toggle-large:before {
					width: 52px;
					background-image: url('../images/vectors/styleguide/icon-full.svg');
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: none;
	width: $sidebar-width;
	transform: translateX(-$sidebar-width);
	transition: $transition;

	overflow-y: scroll;
	overflow-scrolling: touch;

	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

	.logo {
		width: 100%;
		display: block;
		padding: 5rem;
	}
	nav {
		padding: 2rem 0;
		ul {
			li {
				a {
					border: none;
					padding: 1rem;
					display: block;
					@include breakpoint($screen-small) {
						padding: 1rem 2rem;
					}
				}
				ul {
					font-size: 1.1rem;
					padding-left: 1rem;
				}
			}
		}
	}
	#sg-nav {
		> ul {
			> li {
				padding: 2rem 0;
				border-bottom: 1px solid #ddd;
			}
		}
		a {
			&:hover {
				background: transparent;
			}
		}
	}
	#nav {
		a {
			&.active {
				background: #f9f9f9;
			}
			&:hover {
				background: #f5f5f5;
			}
		}
	}
}

.styleguide-iframe-wrapper {
	overflow: hidden;
	height: calc(100% - #{$footer-height});
	width: 100%;
	max-width: 100%;
	position: relative;
	left: 0;
	padding: 0;
	margin: 0;
	max-width: initial;
	background-color: $section-bg;
	position: relative;

	iframe {
		border: 0;
		border-left: 1px solid $line-color;
		border-right: 1px solid $line-color;
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: hidden;
		height: calc(100% - #{$header-height});
		width: 100%;
		max-width: 100%;
		position: absolute;
		top: $header-height;
		left: 0;
		right: 0;
		bottom: 0;
		transition: $transition;
		margin: 0 auto;

		&[data-breakpoint-size='tiny'] {
			max-width: $screen-tiny;
		}
		&[data-breakpoint-size='small'] {
			// max-width: $screen-small;
			max-width: 768px;
		}
		&[data-breakpoint-size='medium'] {
			max-width: $screen-large;
		}
		&[data-breakpoint-size='large'] {
			// max-width: $large;
			max-width: 100%;
		}

	}
}

.styleguide-module {

	&__header {
		overflow: hidden;
		margin: 3rem 0;
		code {
			background: whitesmoke;
			float: none;
			clear: both;
			display: inline-block;
			margin-left: 1rem;
		}
	}

	// mod title
	&__title {
		font-family: $header-font;
		font-weight: 700;
		font-size: 3rem;
		padding-left: 2rem;
		padding-bottom: 2.5rem;
		border-bottom: 1px solid #ddd;
	}

	// suptitle
	&__title--light {
		clear: both;
		color: #bbb;
		display: block;
		margin: 0 0 1rem;
		font-size: 12px;
		line-height: 12px;
		font-weight: normal;
		text-transform: none;
	}

	// subtitle
	&__title--small {
		float: left;
		font-size: 20px;
		line-height: 20px;
	}

	// codesnippet toggle
	&__toggle-code {
		position: relative;
		float: right;
		width: 27px;
		height: 18px;
		opacity: .5;
		text-indent: -9999999px;
		background: url('../images/vectors/styleguide/icon-code.svg') right center no-repeat;
		& + * {
			clear: both;
		}
	}
}


// space out when multiple toggles in module
pre + .styleguide-module__toggle-code {
	margin-top: 2rem;
}

.styleguide-list--buttons {
	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 1rem 1rem 0;
	}
}

.styleguide-footer {
	clear: both;
	overflow: hidden;
	text-align: center;
	background: $primary-color;
	color: white;
	order: 2;
	p {
		padding: 0;
		height: $footer-height;
		line-height: $footer-height;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}
}




.styleguide-header,
.styleguide-footer,
.styleguide-iframe-wrapper {
	transition: $transition;
	width: 100%;
}

.sidebar-open {
	.sidebar {
		transform: translateX(0);
	}
	.styleguide-header,
	.styleguide-footer {
		transform: translateX($sidebar-width);
		width: calc(100% - #{$sidebar-width});
	}
	.styleguide-iframe-wrapper {
		transform: translateX($sidebar-width);
		@include breakpoint($screen-small) {
			width: calc(100% - #{$sidebar-width});
		}
	}
}





// wp/fuerst/basic/redvan comments
.basic_dev_comments {
	border-top: 1px solid $primary-color;
}
.fuerst_dev_comments {
	border-top: 1px solid $primary-color;
}
.red_van_dev_comments {
	border-top: 1px solid $primary-color;
}
.basic_design_comments {
	border-top: 1px solid $primary-color;
}
