[data-toggle="tooltip"] {
	cursor: pointer;
	position: relative;
}

.sg-tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 12px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
	transition: opacity .25s ease;

	transform: translate3d(0, 0, 0);
}

.sg-tooltip.in {
	opacity: .9;
	filter: alpha(opacity=90);
}

.sg-tooltip.top {
	left: 50%;
	padding: 5px 0 0;
	margin-top: -3px;
}

.sg-tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}

.sg-tooltip.bottom {
	left: 50%;
	padding: 5px 0;
	margin-top: 3px;
}

.sg-tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}

.sg-tooltip-inner {
	max-width: 200px;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 2px;
	white-space: nowrap;
}

.sg-tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.sg-tooltip.top .sg-tooltip-arrow {
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	border-top-color: #000;
	border-width: 5px 5px 0;
}

.sg-tooltip.top-left .sg-tooltip-arrow {
	bottom: 0;
	left: 5px;
	border-top-color: #000;
	border-width: 5px 5px 0;
}

.sg-tooltip.top-right .sg-tooltip-arrow {
	right: 5px;
	bottom: 0;
	border-top-color: #000;
	border-width: 5px 5px 0;
}

.sg-tooltip.right .sg-tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-right-color: #000;
	border-width: 5px 5px 5px 0;
}

.sg-tooltip.left .sg-tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-left-color: #000;
	border-width: 5px 0 5px 5px;
}

.sg-tooltip.bottom .sg-tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-color: #000;
	border-width: 0 5px 5px;
}

.sg-tooltip.bottom-left .sg-tooltip-arrow {
	top: 0;
	left: 5px;
	border-bottom-color: #000;
	border-width: 0 5px 5px;
}

.sg-tooltip.bottom-right .sg-tooltip-arrow {
	top: 0;
	right: 5px;
	border-bottom-color: #000;
	border-width: 0 5px 5px;
}
