[data-type="tabs"] {

	[data-tab] {
		display: inline-block;
		&.is-active,
		&:hover {

		}
	}

	[data-tab-content] {
		display: none;
		opacity: 0;
		&.is-active {
			display: block;
			@extend .fadeIn;
		}
	}

}
