<h2 class="styleguide-module__title">{{{name}}}</h2>

<div class="container container--small">

	<div class="styleguide-module__header">
		<code>form</code>
		<h5 class="styleguide-module__title--small">Form</h5>
	</div>

	<form action="" class="snippet" data-validate>
		<fieldset>

			<div class="row">
				<div class="col">
					{{> 07_forms/fields/input-labeled
						this.classes
						error		= 'Invalid First Name'
						title		= 'First Name'
						type		= 'text'
						name		= 'first-name'
						required	= true
						placeholder = '* First Name'
						tooltip     = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
					}}
				</div>
				<div class="col">
					{{> 07_forms/fields/input-labeled
						this.classes
						error		= 'Invalid Last Name'
						title		= 'Last Name'
						type		= 'text'
						name		= 'last-name'
						required	= true
						placeholder = '* Last Name'
						tooltip     = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
					}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					{{> 07_forms/fields/input-labeled
						this.classes
						error		= 'Invalid Email Address'
						title		= 'Email Address'
						type		= 'email'
						name		= 'email'
						required	= true
						placeholder = '* Email Address'
						tooltip     = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
					}}
				</div>
				<div class="col">
					{{#parseJSON
						'{"items":[
							{"key":"select","label":"Select..."},
							{"key":"comfortable","label":"Comfortable"},
							{"key":"waterproof","label":"Waterproof"},
							{"key":"stylish","label":"Stylish"}
						]}'
					}}
						{{> 07_forms/selects/select-dd
							this
							title       = 'Select Something'
							tooltip     = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
						}}
					{{/parseJSON}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					{{> 07_forms/fields/input-labeled
						this.classes
						error		= 'Please enter a password.'
						title		= 'Password'
						type		= 'password'
						name		= 'password'
						required	= true
						placeholder = '* Password'
						tooltip     = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
					}}
				</div>
				<div class="col">
					{{> 07_forms/fields/textarea-labeled
						this.classes
						error		= 'Please enter a message.'
						title		= 'Textarea'
						name		= 'textarea'
						required	= true
						placeholder = '* Message'
						tooltip     = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
					}}
				</div>
			</div>

			<div class="row">
				<div class="col">
					{{> 07_forms/toggle-buttons/checkbox-labeled
						this.classes
						title	= 'Yes, keep me updated.'
						name	= 'subscribe'
						checked	= true
						tooltip	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
					}}
				</div>
				<div class="col">

				</div>
			</div>

			<div class="row">
				<div class="col">
					{{> 07_forms/toggle-buttons/radio-labeled
						this.classes
						title	= 'Yes'
						name	= 'radio-labeled'
						checked	= true
						tooltip	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
					}}
					{{> 07_forms/toggle-buttons/radio-labeled
						this.classes
						title	= 'No'
						name	= 'radio-labeled'
						checked	= false
						tooltip	= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae aperiam tenetur consectetur error enim, accusamus hic ullam numquam ut deleniti mollitia voluptatem repellat distinctio fuga iure vel officia, recusandae.'
					}}
				</div>
				<div class="col">
					{{> 07_forms/fields/drag-drop-upload
						title = 'Image uploader *'
						label = 'Select or drag image'
						maxFiles = 6
						multipleFiles = true
					}}
				</div>
			</div>

		</fieldset>

		{{> 04_buttons/button
			this.classes
			tag		= 'button'
			type	= 'submit'
			title	= 'Join Us'
		}}

	</form>

</div>
