<h2 class="styleguide-module__title">{{name}}</h2>

<section class="button-preview pa-3 pa-sm-3">

	{{> 04_buttons/button
		title = 'Button'
	}}

	{{> 04_buttons/button
		classes	= 'secondary'
		title	= 'Button'
	}}

</section>

<section class="button-preview pa-3 pa-sm-3 dark bg-black">

	{{> 04_buttons/button
		title= 'Button'
	}}

	{{> 04_buttons/button
		classes	= 'secondary'
		title	= 'Button'
	}}

</section>
