<h2 class="styleguide-module__title">{{name}}</h2>
<ul class="styleguide-list--buttons snippet">
	{{#each button}}
		<li>
			<a href="javascript:;" class="#{{button.className}}">{{button.buttonName}}</a>
		</li>
	{{/each}}
</ul>
