<h2 class="styleguide-module__title">{{name}}</h2>
<ul class="styleguide-list--buttons snippet">
	{{#each items}}
		<li>
			<a href="javascript:;" class="{{className}}">{{buttonName}}</a>
		</li>
	{{/each}}
</ul>
