<div class="styleguide-module__header">
	<h5 class="styleguide-module__title--small">{{{name}}}</h5>
</div>

<div class="feedback">
	{{#each items}}
		<p class="styleguide-module__paragraph">
			{{this}}
		</p>
	{{/each}}
</div>
