<div class="alert text-align-center" data-alert data-skrollex data-sk-group>

	<div class="alert--content">

		<div class="alert-success">
			{{svg 'icon-check'}}
		</div>

		<h6 class="alert--heading">Your order was successfully canceled</h6>

		<p class="light-text">Alias fugit vero rerum sequi eum iste deleniti laudantium dolor tempora voluptates accusantium esse, qui, nobis laboriosam cupiditate adipisci earum id. Vero.</p>

		{{svg 'icon-close' params="data-alert-close"}}

	</div>

</div>
