/* Typography
----------------------------------------- */
*,
*:after,
*:before {
	// box-sizing: border-box;
	box-sizing: inherit;
}

html {
	font-family: sans-serif;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	font-size: $base-font-size;

	box-sizing: border-box;
}

body {
	line-height: 1;
	font-family: $body-font;
	font-size: 1.6rem;
	line-height: $base-line-height;
	color: $dark-grey;
	-webkit-font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	text-size-adjust: none;
	overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html,
button,
input,
select,
textarea {
	color: $dark-grey;
}

::-moz-selection {
	background: $primary-color;
	color: white;
	text-shadow: none;
}

::selection {
	background: $primary-color;
	color: white;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

abbr, acronym {
	text-transform: uppercase;
	font-size: 90%;
	color: #222;
	border-bottom: 1px solid #cccccc;
	cursor: help;
}

abbr {
	text-transform: none;
}

img {
	vertical-align: middle;
	interpolation-mode: bicubic;
}

/*
* Flexible Media
*/
img, video, canvas, object, embed  {
	max-width: 100%;
	height: auto;
}

/*
* Flexible Video iFrame Embed
* use like :
<figure class="aspect">
	<iframe src="https://www.youtube.com/embed/4Fqg43ozz7A"></iframe>
</figure>
*/
figure.aspect {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
	overflow: hidden;
	iframe,
	video,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

pre {
	font-family: Monaco;
	padding: 0.5em 1em;
	margin: 0 0 1rem;
	border-radius: 2px;
	overflow-x: scroll;
	code {
		overflow-x: scroll;
		border: none;
		word-wrap: initial;
		background-color: transparent;
	}
}

code {
	@include font-size(12);
	line-height: 1.5;
	margin: 0 2px;
	padding: 0 5px;
	border: 1px solid lighten($black, 85);
	background-color: lighten($black, 90);
}


/*=====================================================

Heading styles

======================================================*/
@for $i from 1 through 6 {

	h#{$i} {

		font-family: $header-font;
		font-style: normal;
		font-weight: normal;
		font-stretch: normal;

		word-wrap: break-word;
		word-break: break-word;

		line-height: $header-line-height;
		margin-top: $header-top-margin;
		margin-bottom: $header-bottom-margin;

		&.no-margin {
			margin: 0;
		}

		small {
			line-height: 0;
		}

	}

}

$map: (
	h1: $h1-font-size,
	h2: $h2-font-size,
	h3: $h3-font-size,
	h4: $h4-font-size,
	h5: $h5-font-size,
	h6: $h6-font-size
);

@each $header, $size in ($map) {
	#{$header},
	.#{$header} {
		@include font-size($size);
	}
}

.slab {
	font-family: $slab;
	// Needed b/c chrome still needs prefix
	-webkit-font-feature-settings: "liga", "kern";
	font-feature-settings:         "liga", "kern";

	&.bold {
		font-family: $slab;
		font-weight: $bold;
	}

	&.italic {
		font-family: $slab;
	}
}


/*=====================================================

Paragraph styles

======================================================*/
p {
	font-family: $body-font;
	@include font-size($paragraph-font-size);
	line-height: $paragraph-line-height;
	margin-bottom: $paragraph-bottom-margin;
	word-wrap: break-word;
	&.lead {
		@include font-size($paragraph-lead-font-size);
		margin-bottom: $paragraph-lead-bottom-margin;
	}
}

a {
	text-decoration: none;
	line-height: inherit;
	outline: 0;
	color: $primary-color;
	transition: $transition;
	&:hover{
		color: $dark-grey;
	}
}

small,
.small:not(a) {
	@include font-size($small-font-size);
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


/*=====================================================

Lists

======================================================*/
ul,
ol {
	li {
		line-height: $list-line-height;
		margin-bottom: $list-bottom-margin;
	}
}

ul {
	list-style: none inside;
	&.square,
	&.circle,
	&.disc {

	}
	&.square {
		list-style: square inside;
	}
	&.circle {
		list-style: circle inside;
	}
	&.disc {
		list-style: disc inside;
	}
	ul {

	}
}

ol {
	list-style: decimal inside;
	li {
		margin-left: $list-disc-left-margin;
	}
	ol {

	}
}

dl dt {
	font-weight: bold;
}

blockquote,
q {
	font-family: $body-font;
	letter-spacing: 2px;
	font-weight: 400;
	border-left: 3px solid;
	padding: 2%;
	margin: 2%;
	p {
		@include font-size($blockquotes-font-size);
	}
	cite {
		font-size: initial;
		padding-top: 2%;
		display: block;
	}
}


/*=====================================================

Emphasis and Styling

======================================================*/

.regular,
.normal {
	font-weight: $regular;
}
.bold {
	font-weight: $bold;
}
.uppercase {
	text-transform: uppercase;
}
.italic {
	font-style: italic;
}
.nowrap {
	white-space: nowrap;
}
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.decoration-none {
	text-decoration: none;
}
.decoration-underline {
	text-decoration: underline;
}
.decoration-line-through {
	text-decoration: line-through;
}
