/* Typography
----------------------------------------- */
*,
*:after,
*:before {
	// box-sizing: border-box;
	box-sizing: inherit;
}

html {
	font-family: sans-serif;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	font-size: $base-font-size;

	box-sizing: border-box;
}

body {
	line-height: 1;
	font-family: $body-font;
	font-size: 1.3rem;
	line-height: $base-line-height;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	text-size-adjust: none;
	overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html, body, input, button, textarea {
	// clean text look
	-webkit-font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	background: $selection-bg-color;
	color: $selection-text-color;
	text-shadow: none;
}

::selection {
	background: $selection-bg-color;
	color: $selection-text-color;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

abbr, acronym {
	text-transform: uppercase;
	font-size: 90%;
	color: #222;
	border-bottom: 1px solid #cccccc;
	cursor: help;
}

abbr {
	text-transform: none;
}

img {
	vertical-align: middle;
	interpolation-mode: bicubic;
}

/*
* Flexible Media
*/
img, video, canvas, object, embed  {
	max-width: 100%;
	height: auto;
}

/*
* Flexible Video iFrame Embed
* use like :
<figure class="aspect">
	<iframe src="https://www.youtube.com/embed/4Fqg43ozz7A"></iframe>
</figure>
*/
figure.aspect {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
	overflow: hidden;
	iframe,
	video,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

pre {
	font-family: Monaco;
	padding: 0.5em 1em;
	margin: 0 0 1rem;
	border-radius: 2px;
	overflow-x: scroll;
	code {
		overflow-x: scroll;
		border: none;
		word-wrap: initial;
		background-color: transparent;
	}
}

code {
	font-size: 1.2rem;
	line-height: 1.5;
	margin: 0 2px;
	padding: 0 5px;
	border: 1px solid lighten($black, 85);
	background-color: lighten($black, 90);
}

small,
.small:not(a) {
	font-size: $small-font-size;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}



/////////////////////////
// Heading styles
/////////////////////////
@for $i from 1 through 6 {

	h#{$i},
	.h#{$i} {

		font-family: $header-font;
		font-style: normal;
		font-weight: normal;
		font-stretch: normal;

		word-wrap: break-word;
		word-break: break-word;

		line-height: $header-line-height;
		margin-top: $header-top-margin;
		margin-bottom: $header-bottom-margin;

		small {
			line-height: 0;
		}

	}

}

/////////////////////////
// Font Size
/////////////////////////

$fs: (
	h1: $h1-font-size,
	h2: $h2-font-size,
	h3: $h3-font-size,
	h4: $h4-font-size,
	h5: $h5-font-size,
	h6: $h6-font-size
);

$tablet-fs: (
	h1: $h1-tablet-font-size,
	h2: $h2-tablet-font-size,
	h3: $h3-tablet-font-size,
	h4: $h4-tablet-font-size,
	h5: $h5-tablet-font-size,
	h6: $h6-tablet-font-size
);

$desktop-fs: (
	h1: $h1-desktop-font-size,
	h2: $h2-desktop-font-size,
	h3: $h3-desktop-font-size,
	h4: $h4-desktop-font-size,
	h5: $h5-desktop-font-size,
	h6: $h6-desktop-font-size
);

@each $header, $size in ($fs) {
	#{$header},
	.#{$header},
	%#{$header} {
		font-size: $size;
	}
}

@each $header, $size in ($tablet-fs) {
	#{$header},
	.#{$header},
	%#{$header} {
		@include breakpoint($screen-small) {
			font-size: $size;
		}
	}
}

@each $header, $size in ($desktop-fs) {
	#{$header},
	.#{$header},
	%#{$header} {
		@include breakpoint($screen-medium) {
			font-size: $size;
		}
	}
}

/////////////////////////
// Line Height
/////////////////////////

$lh: (
	h1: $h1-line-height,
	h2: $h2-line-height,
	h3: $h3-line-height,
	h4: $h4-line-height,
	h5: $h5-line-height,
	h6: $h6-line-height
);

$tablet-lh: (
	h1: $h1-tablet-line-height,
	h2: $h2-tablet-line-height,
	h3: $h3-tablet-line-height,
	h4: $h4-tablet-line-height,
	h5: $h5-tablet-line-height,
	h6: $h6-tablet-line-height
);

$desktop-lh: (
	h1: $h1-desktop-line-height,
	h2: $h2-desktop-line-height,
	h3: $h3-desktop-line-height,
	h4: $h4-desktop-line-height,
	h5: $h5-desktop-line-height,
	h6: $h6-desktop-line-height
);

@each $header, $size in ($lh) {
	#{$header},
	.#{$header},
	%#{$header} {
		line-height: $size;
	}
}

@each $header, $size in ($tablet-lh) {
	#{$header},
	.#{$header},
	%#{$header} {
		@include breakpoint($screen-small) {
			line-height: $size;
		}
	}
}

@each $header, $size in ($desktop-lh) {
	#{$header},
	.#{$header},
	%#{$header} {
		@include breakpoint($screen-medium) {
			line-height: $size;
		}
	}
}


/////////////////////////
// Letter Spacing
/////////////////////////

$ls: (
	h1: $h1-letter-spacing,
	h2: $h2-letter-spacing,
	h3: $h3-letter-spacing,
	h4: $h4-letter-spacing,
	h5: $h5-letter-spacing,
	h6: $h6-letter-spacing
);

$tablet-ls: (
	h1: $h1-tablet-letter-spacing,
	h2: $h2-tablet-letter-spacing,
	h3: $h3-tablet-letter-spacing,
	h4: $h4-tablet-letter-spacing,
	h5: $h5-tablet-letter-spacing,
	h6: $h6-tablet-letter-spacing
);

$desktop-ls: (
	h1: $h1-desktop-letter-spacing,
	h2: $h2-desktop-letter-spacing,
	h3: $h3-desktop-letter-spacing,
	h4: $h4-desktop-letter-spacing,
	h5: $h5-desktop-letter-spacing,
	h6: $h6-desktop-letter-spacing
);

@each $header, $size in ($ls) {
	#{$header},
	.#{$header},
	%#{$header} {
		letter-spacing: $size;
	}
}

@each $header, $size in ($tablet-ls) {
	#{$header},
	.#{$header},
	%#{$header} {
		@include breakpoint($screen-small) {
			letter-spacing: $size;
		}
	}
}

@each $header, $size in ($desktop-ls) {
	#{$header},
	.#{$header},
	%#{$header} {
		@include breakpoint($screen-medium) {
			letter-spacing: $size;
		}
	}
}


/////////////////////////
// Paragraph styles
/////////////////////////

p {
	font-size: $paragraph-font-size;

	font-family: $body-font;
	font-weight: $paragraph-font-weight;

	line-height: $paragraph-line-height;
	margin-bottom: $paragraph-bottom-margin;
	word-wrap: break-word;

	&.lead {
		font-size: $paragraph-lead-font-size;
		margin-bottom: $paragraph-lead-bottom-margin;
	}
}


/////////////////////////
// Emphasis and Styling
/////////////////////////

.text-regular,
.text-normal {
	font-weight: $fw-regular;
}
.text-medium {
	font-weight: $fw-medium;
}
.text-bold {
	font-weight: $fw-bold;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-italic {
	font-style: italic;
}
.text-nowrap {
	white-space: nowrap;
}
.text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-highlight,
.highlight {
	background-color: $highlight-bg-color;
	color: $highlight-text-color;
}

.text-align-left {
	text-align: left !important;
}
.text-align-right {
	text-align: right !important;
}
.text-align-center {
	text-align: center !important;
}

.decoration-none {
	text-decoration: none;
}
.decoration-underline {
	text-decoration: underline;
}
.decoration-line-through {
	text-decoration: line-through;
}


/////////////////////////
// Lists
/////////////////////////
ul,
ol {
	li {
		line-height: $list-line-height;
		margin-bottom: $list-bottom-margin;
	}
}

ul {
	list-style: none inside;
	&.square,
	&.circle,
	&.disc {

	}
	&.square {
		list-style: square inside;
	}
	&.circle {
		list-style: circle inside;
	}
	&.disc {
		list-style: disc inside;
	}
	ul {

	}
}

ol {
	list-style: decimal inside;
	li {
		margin-left: $list-disc-left-margin;
	}
	ol {

	}
}

dl dt {
	font-weight: bold;
}

blockquote,
q {
	font-family: $body-font;
	p {
		font-size: $blockquotes-font-size;
	}
	cite {
		font-size: initial;
		display: block;
	}
}
