/*
	Background Properties
*/

.bg-repeat {
	background-repeat: repeat;
}

.bg-repeat-x {
	background-repeat: repeat-x;
}

.bg-repeat-y {
	background-repeat: repeat-y;
}

.bg-top-left {
	background-position: top left;
}

.bg-top-center {
	background-position: top center;
}

.bg-top-right {
	background-position: top right;
}

.bg-bottom-left {
	background-position: bottom left;
}

.bg-bottom-center {
	background-position: bottom center;
}

.bg-bottom-right {
	background-position: bottom right;
}

.bg-left-center {
	background-position: left center;
}

.bg-right-center {
	background-position: right center;
}

.bg-cover {
	display: block;
	position: relative;
	background-size: cover;
	background-position: center;
	&.contain-bg {
		background-size: contain;
		background-position: bottom center;
	}
	.container {
		z-index: 1;
	}
}
