<h2 class="styleguide-module__title">{{{name}}}</h2>
<h5 class="styleguide-module__title--small">{{{items.notOrdenated}}}</h5>

{{> 20_ui/accordion/accordion }}

{{> 20_ui/alerts/alert }}

{{> 20_ui/heart-toggle/heart-toggle }}

{{> 20_ui/pagination/pagination }}

{{> 20_ui/pagination/bullet-nav }}

{{> 20_ui/slider/slider }}

{{> 20_ui/tabs/tabs }}

{{> 20_ui/toggle/toggle }}

{{> 20_ui/tooltip/tooltip }}

{{> 20_ui/video/video-player }}
