<!doctype html>
<html class="supports-no-js skrollex-enabled desktop" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{name}}</title>

		<!-- modernizr -->
		{{> modernizr }}

		{{#block "head"}}
			<link rel="stylesheet" href="../assets/css/vendor.css" />
			<link rel="stylesheet" href="../assets/css/modules.css" />
		{{/block}}

		<!-- fb/opengraph/twitter/g+/schema -->
		{{> social }}

		<!-- iOS/safari/homescreen/android -->
		{{> browser }}

	</head>

	<body class="{{bodyClass}} {{@root._data.theme}}">

		<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->
