<aside class="sidebar">
	<nav id="page-nav">
		<ul>
			<li>
				<a href="javascript:;">Home Page</a>
			</li>
		</ul>
	</nav>
	<nav id="nav"></nav>
	<img src="{{@root._data.logoImage}}" alt="" class="logo">
</aside>
