<ul class="pagination {{{classes}}}">
	<li><a href="javascript:;">{{{svg 'arrow-left-short'}}}</a></li>
	<li><a href="javascript:;" class="is-active">1</a></li>
	<li><a href="javascript:;">2</a></li>
	<li><a href="javascript:;">3</a></li>
	<li><a href="javascript:;">4</a></li>
	<li><a href="javascript:;">...</a></li>
	<li><a href="javascript:;">10</a></li>
	<li><a href="javascript:;">{{{svg 'arrow-right-short'}}}</a></li>
</ul>
