<ul class="accordion" data-accordion>
	<li>
		<a href="javascript:;" class="accordion--toggle">
			Toggle label
			{{svg 'icon-plus' classes='plus'}}
		</a>
		<div class="accordion--content">
			<div>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eaque earum neque animi laboriosam cupiditate dolor quibusdam ratione, nihil itaque minus id. Ut et aliquam aut obcaecati similique culpa suscipit.
			</div>
		</div>
	</li>
</ul>
