<button class="heart-toggle {{{classes}}}" {{{params}}} data-heart-toggle>
	<figure class="heart-toggle--full">
		{{svg 'icon-heart-full' classes='svg' params=''}}
	</figure>
	<figure class="heart-toggle--empty">
		{{svg 'icon-heart-empty' classes='svg' params=''}}
	</figure>
</button>