<h2 class="styleguide-module__title">{{{name}}}</h2>
<h5 class="styleguide-module__title--small">{{{items.notOrdenated}}}</h5>

<header id="header" class="snippet">

  <div class="container">

    <nav id="main-nav">
      <ul>
        <li>
          <a href="javascipt:;">Menu Item 1</a>
        </li>
        <li>
          <a href="javascipt:;">Menu Item 2</a>
        </li>
      </ul>
    </nav>

  </div>

</header>

